* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.nav-font {
  font-size: 25px;
}

.post-link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.post-link:hover {
  text-decoration: none;
}

.test-border {
  border: 5px red solid;
}