* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

textarea {
  width: 600px;
  height: 150px;
}

.nav-font {
  font-size: 25px;
}

.post-title {
  font-size: 45px
}

.post-link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.post-link:hover {
  text-decoration: none;
}

.test-border {
  border: 5px red solid;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}